<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=Festivals)}">
<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
	    <title>Festivalübersicht</title>
</head>
<body>
	<header>
		<nav th:include="header :: header"></nav>
		<h1>Festivalübersicht</h1>
	</header>
	<section layout:fragment="content">
		
		<form method="post" name="festival" role="location" id="festival" th:object="${festival}">
			<div class="content">
	             <ul class="list">
	        		<li class="list-entry" th:each="festival : ${festivalList}">
	                    <a class="header" th:href="@{/festivalOverview/{id}(id=${festival.id})}" th:text="${festival.name}">Etwas andres</a>
	                    <a class="header" th:href="@{/festivalOverview/remove/{id}(id = ${festival.id})}" sec:authorize="hasRole('MANAGER') || hasRole('ADMIN')">Löschen</a>	       
    	            </li>
	             </ul>
	          </div>                	                    
		</form>
		<a class="item" th:href="@{/newFestival}" sec:authorize="hasRole('MANAGER') || hasRole('ADMIN')">Neues Festival erstellen</a>
		<div class="overlay" th:if="${dialog} == 'remove_festival'">
            <form class="form" action="/festival/remove" method="post">
				<h2 class="form-item" th:inline="text">Festival [[${currentName}]] löschen</h2>
				<div class="form-item">
					<a href="festivalOverview.html" th:href="@{/festivalOverview}">Abbrechen</a>
					<input th:if="${running == false}" class="form-input" name="delete" type="submit" value="Löschen">
					<div class="form-label" th:if="${running != false}">Festival findet bereits statt</div>
				</div>
                <input type="hidden" name="id" th:value="${currentId}">
            </form>
        </div>
    </section>
</body>
</html>
