<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=${artist.name})}">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
    <title>Artistdetails</title>
</head>
<body>
<header>
    <nav th:include="header :: header"></nav>
    <h1>Artistdetails</h1>
</header>
<section layout:fragment="content">
    <div class="content">
        </br>
        <a class="item" href="artists.html" th:href="@{/artists}">Zurück</a>
        </br></br>
        </br>
        <p>Name:</p>
        <p th:text="${artist.name}">Keine gefunden</p>
        <br/>
        <p>Preis pro Tag:</p>
        <p th:text="${artist.price}">Keine gefunden</p>
        <br/>
        <p>Anzahl der Bühnentechniker für Künstler/in</p>
        <p th:text="${artist.stageTechnician}">Keine gefunden</p>
        <br/>
        <p>Buchungen:</p>
        <p th:if="${hasBookings == false}">Keine</p>
        <br/>
        <p>Show:</p>
        <div th:each="show : ${artist.getShows()}" class="text" th:text="${show.getName()}"></div>
        <br/>
        <a class="item" th:href="@{/artists/newShow/{id}(id = ${artist.id})}" sec:authorize="hasRole('MANAGER') || hasRole('ADMIN') || hasRole('PLANNER')">Neuen Show erstellen</a>

        <table class="ui celled table" th:if="${hasBookings != false}">
            <thead>
            <th>Startdatum</th>
            <th>Enddatum</th>
            </thead>
            <tbody th:remove="all-but-first">
            <tr th:each="booking : ${artist.getBookingArtist()}">
                <td class="text" th:text="${booking.startDate}">Startdatum</td>
                <td class="text" th:text="${booking.endDate}">Enddatum</td>
            </tr>
            </tbody>
        </table>
        </br>
    </div>

</section>
</body>
