.staff-menu {
    width: 100%;
    height: 5vh;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.staff-main {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.staff-list {
    width: 50%;
    height: 80vh;
    overflow: scroll;
    margin: 2vh 1vw 2vh 2vw;
    border: 1px solid #333333;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.staff-list-entry {
    width: 95%;
    border-bottom: 1px solid #333333;
    padding-bottom: 0.5%;
    margin: 2%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
    justify-content: space-between;
}

.staff-detail-placeholder {
    width: 50%;
    height: 80vh;
    margin: 2vh 2vw 2vh 1vw;
    border: 1px solid transparent;
}

.staff-detail {
    width: 50%;
    height: 80vh;
    margin: 2vh 2vw 2vh 1vw;
    border: 1px solid #333333;
    border-radius: 2px;
}
