/* CSS RESET */

html, body {
	width: 100%;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background: #f0f0f0;
}

h1 {
	font-size: 3em;
	line-height: 3.2em;
	text-align:center;
}

.header {
	float: top;
	width: 100%;
	min-height: 5vh;
	display: block;
	background-color: gray;
}

.right {
	float: right;
}

.left {
	float: left;
}

.item {
}