<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
		<title>Catering Produkt bearbeiten</title>
	</head>
	<body>
        <header>
			<nav th:include="header :: header"></nav>
            <div th:include="festivalHeader :: festivalHeader"></div>
		</header>
		<section layout:fragment="content">
            <form class="ui form" method="post" th:action="@{/cateringEditProduct/editData/{id}(id=${product.getId()})}" th:if="${product}">
                <table border="1">
                    <tr>
                        <td>Produktname</td>
                        <td>
                            <input type="text" name="name" th:value="${product.getName()}">
                        </td>
                    </tr>
                    <tr>
                        <td>Verkaufspreis</td>
                        <td><input type="text" name="price" th:value="${product.getPrice()}"></td>
                    </tr>
                    <tr>
                        <td>Pfand</td>
                        <td><input type="text" name="deposit" th:value="${product.getDeposit()}"></td>
                    </tr>
                    <tr>
                        <td>F&uuml;llmenge</td>
                        <td><input type="number" min="0" step="0.01" name="filling" th:value="${product.getFilling()}"></td>
                    </tr>
                    <tr>
                        <td>Mindestbestand</td>
                        <td><input type="number" min="0" step="1" name="minimumStock" th:value="${product.getMinimumStock()}"></td>
                    </tr>
                    <tr>
                        <td><a href="../cateringProductCatalog">abbrechen</a></td>
                        <td><button type="submit">absenden</button></td>
                    </tr>
                </table>
            </form>
        </section>
    </body>
</html>