<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout.html(title=Catering Produkte)}">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
		<title>Catering Produkte</title>
	</head>
	<body>
		<header>
			<nav th:include="header :: header"></nav>
			<div th:include="festivalHeader :: festivalHeader"></div>
		</header>
		<section layout:fragment="content">
			<h3>
				Folgende Lagerbest&auml;nde verhindern das L&ouml;schen dieses Produkts:
			</h3>
			<table border="1">
				<tr>
					<th>Festival</th>
					<th>Produktname</th>
					<th>Anzahl</th>
					<th>Einkaufspreis</th>
					<th>Einkaufsdatum</th>
					<th>Verfallsdatum</th>
				</tr>

				<tr th:each="stockitem : ${stockItemsToDelete}">
					<td th:text="${stockitem.getFestival().getName()}">Summer Jam</td>
					<td th:text="${stockitem.getProduct().getName()}">Coca Cola</td>
					<td th:text="${stockitem.getQuantity()}">500</td>
					<td th:text="${stockitem.getBuyingPrice()}">EUR 0.50 €</td>
					<td th:text="${stockitem.getOrderDate()}">10.12.2021</td>
					<td th:text="${stockitem.getBestBeforeDate()}">01.04.2021</td>
				</tr>
			</table>
			<h3>Bitte l&ouml;schen Sie zuerst diese.</h3>
			<a href="/cateringProductCatalog">weiter</a>
		</section>
	</body>
</html>