<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
		<title>Catering Produkt bearbeiten</title>
	</head>
	<body>
        <header>
			<nav th:include="header :: header"></nav>
            <h1>Catering Produkt bearbeiten</h1>
		</header>
		<section layout:fragment="content">
            <table border="1">
                <tr>
                    <td>Produktname</td>
                    <td><input type="text" id="name"></td>
                </tr>
                <tr>
                    <td>Verkaufspreis</td>
                    <td><input type="number" id="price"></td>
                </tr>
                <tr>
                    <td>Pfand</td>
                    <td><input type="number" id="deposit"></td>
                </tr>
                <tr>
                    <td>F&uuml;llmenge</td>
                    <td><input type="number" id="deposit"></td>
                </tr>
            </table>
        </section>
    </body>
</html>