<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
		<title>Catering</title>
	</head>
	<body>
		<header>
			<nav th:include="header :: header"></nav>
			<div th:include="festivalHeader :: festivalHeader"></div>
		</header>
        <section layout:fragment="content">
            <form>
				<table border="1">
					<tr>
						<td>
							<fieldset>
								<legend>Catering Produkte</legend>
								<table>
									<tr><th>Produkt</th><th>Preis</th></tr>
									<tr th:each="product : ${productcatalog}">
										<td>
											<input type="radio"					
											th:value="${product.getId()}"
											th:utext="${product.getName()}"
											name="productId">
										</td>
										<td th:text="${product.getPrice()}"></td>
									</tr>
									<tr>
										<td><input type="number" step="1" value="1" name="productcount"></td>
										<td><button type="submit">hinzuf&uuml;gen</button></td>
									</tr>
								</table>
							</fieldset>	
						</td>
						<td valign="top">
							<h3>Warenkorb</h3>
						</td>
					</tr>
				</table>
			</form>
        </section>
    </body>
    
</html>
		
