<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
		<title>Catering</title>
	</head>
	<body>
		<header>
			<nav th:include="header :: header"></nav>
			<div th:include="festivalHeader :: festivalHeader"></div>
		</header>
        <section layout:fragment="content">
			<div class="ui form">
            
				<table border="1">
					<tr>
						<td>
							<fieldset>
								<legend>Catering Produkte</legend>
								<form method="post" th:action="@{/catering/addToCart}">
								<table>
									<tr><th>Produkt</th><th>Preis</th></tr>
									<tr th:each="product : ${productcatalog}">
										<td>
											<input type="radio"					
											th:value="${product.getId()}"
											th:utext="${product.getName()}"
											name="productId">
										</td>
										<td th:text="${product.getPrice()}"></td>
									</tr>
									<tr>
										<td><input type="number" step="1" value="1" name="productCount"></td>
										<td><button type="submit">hinzuf&uuml;gen</button></td>
									</tr>
								</table>
							</form>
							</fieldset>	
						</td>
						<td valign="top">
							<form method="post" th:action="@{/catering/checkout}">
							<center><h3>Warenkorb</h3></center>
							<table border="1" width="400">
								<tr><th width="200">Produkt</th><th width="100">Anzahl</th><th width="100">Preis</th></tr>
								<tr th:each="item : ${cart} ">
									<td th:text="${item.productName}">Cola</td>
									<td align="right" th:text="${item.quantity}">1</td>
									<td align="right" th:text="${{item.getPrice()}}">1 &euro;</td>
								</tr>
								<tr>
									<td align="center">
										<input type ="submit" value="Kaufen">
									</td>
									<td><b><center>Summe</center></b></td>
									<td align="right" th:text="${cart.getPrice()}"></td>
								</tr>
							</table>
						</form>							
						</td>
					</tr>
				</table>

			</div>
        </section>
    </body>
    
</html>
		
