<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout.html(title=Catering Produkte)}">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
		<title>Catering Produkte</title>
	</head>
	<body>
		<header>
			<nav th:include="header :: header"></nav>
			<div th:include="festivalHeader :: festivalHeader"></div>
		</header>
		<section layout:fragment="content">
			<table border="1">
				<tr>
					<th>Aktionen</th>
					<th>Produktname</th>
					<th>Verkaufspreis</th>
					<th>Pfand</th>
					<th>F&uuml;llmenge</th>
					<th>Mindestbestand</th>
					<th>Aktionen</th>
				</tr>

				<tr th:each="product : ${productcatalog}">
					<td>
						<a th:href="@{/cateringEditProduct/{festivalId}/{id}(festivalId=${festivalId}, id=${product.getId()})}">bearbeiten</a>
					</td>
					<td th:text="${product.getName()}">Coca Cola</td>
					<td th:text="${product.getPrice()}">2,50 €</td>
					<td th:text="${product.getDeposit()}">0,25 €</td>
					<td th:text="${product.getFilling()}">0,33</td>
					<td th:text="${product.getMinimumStock()}">500</td>
					<td>
						<a th:href="@{/cateringDeleteProduct/{festivalId}/{id}(festivalId=${festivalId}, id=${product.getId()})}">l&ouml;schen</a>
					</td>
				</tr>
			</table>
			<a th:href="@{/cateringAddProduct/{id}(id=${festivalId})}">Produkt hinzuf&uuml;gen</a>
			<br>
			<hr>
			<br>
			<table border="1">
				<tr>
					<th>Aktionen</th>
					<th>Produktname</th>
					<th>Anzahl</th>
					<th>Einkaufspreis</th>
					<th>Einkaufsdatum</th>
					<th>Verfallsdatum</th>
					<th>Aktionen</th>
				</tr>

				<tr th:each="stockitem : ${stock}">
					<td>
						<a th:href="@{/cateringEditStockItem/{festivalId}/{id}(festivalId=${festivalId}, id=${stockitem.getId()})}">bearbeiten</a>
					</td>
					<td th:text="${stockitem.getProduct().getName()}">Coca Cola</td>
					<td th:text="${stockitem.getQuantity()+'/'+stockitem.getOrderQuantity()}">500</td>
					<td th:text="${stockitem.getBuyingPrice()}">EUR 0.50 €</td>
					<td th:text="${stockitem.getOrderDate()}">10.12.2021</td>
					<td th:text="${stockitem.getBestBeforeDate()}">01.04.2021</td>
					<td>
						<a th:href="@{/cateringDeleteStockItem/{festivalId}/{id}(festivalId=${festivalId}, id=${stockitem.getId()})}">l&ouml;schen</a>
					</td>
				</tr>
			</table>
			<a th:href="@{/cateringAddStockItem/{id}(id=${festivalId})}">Lagerbestand hinzuf&uuml;gen</a>
		</section>
	</body>
</html>