<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=Gegenstände)}">
      
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
	<title>Mietbare Gegenstände</title>
</head>
<body>
	<header>
		<nav th:include="header :: header"></nav>
		<div th:include="festivalHeader :: festivalHeader"></div>
	</header>
	<section layout:fragment="content">
		<table th:if="${equipmentsMap ne null}" class="invisible table">
			<tbody>
				<tr>
					<td>
						<h3>Gegenstände</h3>
						<div class="equipments" th:each="equipment : ${equipmentsMap.keySet()}">
							<div class="normal equipments">
								 <form method="post" id="form" th:action="@{/equipments/{festivalId}/rentEquipmentAmount (festivalId = ${festival.id})}" th:object="${equipmentRentingForm}">
									  	<div class="entity-attribute"th:text="${equipment.name}">Name</div>
									 	<label for="amount">Anzahl</label>
									 	<input type="hidden" name="equipmentsId" th:value="${equipment.id}"/>	
									 	<input id="amount" type="number" name="amount" th:value="${equipmentsMap.get(equipment)}"/>	
								        <input type ="submit" th:value="Anwenden"><br>
								        <p  class="form-item-error-message" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Wert darf nicht negativ sein</p>
							    </form>
							    </br>
							</div>
						</div>
						<h3>Bühnen</h3>	
						<form role="form" th:action="@{/equipments/{festivalId}/addStage (festivalId = ${festival.id})}" method="post" th:object="${newStageForm}">
				            <div class="entity-attribute" th:text="${equipmentStage.name}">Name</div>
				            <div class="field" >
				                <label for="name">Name</label>
				                <input id="name" name="name" type="text" required="required"></input>
				            </div>
				             <p class="form-item-error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name festlegen</p>
				            <input name="equipmentsId" type="hidden" th:value="${equipmentStage.id}" required="required"/>
				            <input type ="submit" th:value="Mieten"><br>
				        </form>	
				        </br>
				        <h3>Gemietete Bühnen:</h3>
				        <div class="stageList">
				            <ul class="list">
				                <li class="list-entry" th:each="stage : ${festival.stages}">
				                    <p th:text="${stage.name}">Bühnen Name</p>
				                    <a th:href="@{/equipments/{festivalId}/remove/{id} (id = ${stage.id}, festivalId = ${festival.id})}">X</a>
				                </li>
				            </ul>
				        </div>
					</td>
					<td>
						<h3>Karte</h3>
						<div>
							<img class="groundView" th:src="@{~/locationImages/{name} (name=${location.groundView})}"
			                     src="../static/resources/img/location/HSZ_groundview.jpg" />
	  					</div>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div class="overlay" th:if="${dialog} == 'remove stage'">
            <form class="form" th:action="@{/equipments/{festivalId}/remove/{id} (id = ${stage.id}, festivalId = ${festival.id})}" method="post">
				<h2 class="form-item" th:inline="text">Bühne [[${stage.name}]] löschen</h2>
				<p class="form-item-error-message" >Hinweis: das Programm für diese Bühne wird gelöscht</p>
				<div class="form-item">
					<a href="equipments.html" th:href="@{/equipments/{festivalId} (festivalId = ${festival.id})}">Abbrechen</a>
					<input class="form-input" name="delete" type="submit" value="Löschen">
					
				</div>
                <input type="hidden" name="id" th:value="${currentId}">
            </form>
        </div>
		
    </section>
</body>
</html>
