<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=Festivals)}">
<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/festivalOverview.css}" />
	    <title>Festivalübersicht</title>
</head>
<body>
	<div th:include="header :: header"></div>
	<section layout:fragment="content">
		<div class="festival-menu">
			<a class="item border-right border-bottom border-top" th:href="@{/newFestival}" sec:authorize="hasAnyRole('MANAGER', 'ADMIN')">Neues Festival erstellen</a>
		</div>
		<div class="festival-main">
			<ul class="festival-list">
				<li class="festival-list-entry" th:each="festival : ${festivalList}">
					<a th:href="@{/festivalOverview/{id}(id=${festival.id})}" th:text="${festival.name}">Etwas andres</a>
					<a th:href="@{/festivalOverview/remove/{id}(id = ${festival.id})}" sec:authorize="hasAnyRole('MANAGER', 'ADMIN')">Löschen</a>
				</li>
			</ul>
			<ul class="message-list">
				<li class="message" th:each="message : ${messages}">
					<p th:inline="text">[[${message.senderName}]] - [[${message.title}]]: [[${message.content}]]</p>
				</li>
			</ul>
		</div>
		<div class="overlay" th:if="${dialog} == 'remove_festival'">
            <form class="form" action="/festival/remove" method="post">
				<h2 class="form-item" th:inline="text">Festival [[${currentName}]] löschen</h2>
				<div class="form-item">
					<a href="festivalOverview.html" th:href="@{/festivalOverview}">Abbrechen</a>
					<input th:if="${running == false}" class="form-input" name="delete" type="submit" value="Löschen">
					<div class="form-label" th:if="${running != false}">Festival findet bereits statt</div>
				</div>
                <input type="hidden" name="id" th:value="${currentId}">
            </form>
        </div>
    </section>
</body>
</html>
