<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Festival Header</title>
    </head>
    <body>
        <div th:fragment="festivalHeader">
            <div class="header">
                <div class="menu">
                	<a class="item" th:href="@{/festivalOverview/{id}(id=${festival.id})}" th:text="${festival.name}">Festivaldetails</a>
                    <a class="item border-right" th:href="@{/staff/{id}(id=${festival.id})}" sec:authorize="hasRole('USER_MANAGEMENT') || hasRole('ADMIN')">Personal einsehen</a>
                    <a class="item border-right" th:href="@{/staff/{id}/create/(id=${festival.id})}" sec:authorize="hasRole('USER_MANAGEMENT') || hasRole('ADMIN')">Personal hinzufügen</a>
                   	<a class="item" href="locationOverview.html" th:href="@{/locationPre1}">Location</a>
                    <a class="item" href="artistOverview.html" th:href="@{/artistPre1}">Künstler</a>
					<a class="item" href="finances.html" th:href="@{/financesPre1}">Finanzen</a>
                    <a class="item" href="cateringproductcatalog.html" th:href="@{/catering}">Catering</a>
                    <a class="item" href="ticketShop.html" th:href="@{/ticketShop}">Ticket Shop</a>
					<a class="item" href="ticketShop.html" th:href="@{/schedulePre1}">Programm</a>
	



                </div>
            </div>
        </div>
    </body>
</html>
