<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=${festival.name})}">
<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
	    <title>Festivaldetails</title>
</head>
<body>
	<header>
		<nav th:include="header :: header"></nav>
		<nav th:include="festivalHeader :: festivalHeader"></nav>
	</header>
	<section layout:fragment="content">
                <div class="content">
                	<p>Name:</p>
		            <p th:text="${festival.name}">Keine gefunden</p>
		            <br/>
					<p>Anfangsdatum:</p>
					<p th:text="${festival.startDate}">Keine gefunden</p>
					<br/>
					<p>Enddatum:</p>
					<p th:text="${festival.endDate}">Keine gefunden</p>
					<br/>
					<p>Location:</p>
					<p th:if="${festival.location==null}">Keine</p>
					<p th:if="${festival.location!=null}" th:text="${location.name}">hier sollte ihre Location stehen</p>
					<br/>
					<p>Künstler:</p>
					<p th:if="${festival.artistsIsEmpty()}">Keine</p>
					<p th:if="${!festival.artistsIsEmpty()}">
						<div class th:each="artist : ${artists}" th:object="${artist}" th:text="${artist.name}">
							Artist Name
						</div>
					</p>
					<br/>

                </div>
           
		
    </section>
</body>
</html>