<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Festival Header</title>
    </head>
    <body>
        <div th:fragment="festivalHeader">
            <div class="header">
                <div class="menu border-top">
                	<a th:class="${'item ' + 'border-right ' + festivalDetailCurrent}"
                       th:href="@{/festivalOverview/{id}(id=${festivalId})}"
                       th:text="${festivalName}">Festivaldetails</a>

                    <a th:class="${'item ' + 'border-right ' + staffCurrent}"
                       th:href="@{/staff/{id}(id=${festivalId})}"
                       sec:authorize="hasRole('USER_MANAGEMENT') || hasRole('ADMIN')">Personal</a>

                   	<a th:class="${'item ' + 'border-right ' + locationCurrent}"
                       th:href="@{/locationOverview/{id}(id=${festivalId})}"
                       sec:authorize="hasRole('PLANNER') || hasRole('ADMIN') || hasRole('MANAGER')">Location</a>

                   	<a th:class="${'item ' + 'border-right ' + equipmentCurrent}"
                       th:if="${festivalLocation!=null}" th:href="@{/equipments}"
                       sec:authorize="hasRole('PLANNER') || hasRole('ADMIN') || hasRole('MANAGER')">Gegenstände</a>

                    <a th:class="${'item ' + 'border-right ' + artistsCurrent}"
                       th:href="@{/artistOverview}"
                       sec:authorize="hasRole('PLANNER') || hasRole('ADMIN') || hasRole('MANAGER')">Künstler</a>
                       
                       
                   <a th:class="${'item ' + 'border-right ' + programCurrent}"
                       th:href="@{/schedule}">Spielplan</a>

					<a th:class="${'item ' + 'border-right ' + financesCurrent}"
                       th:href="@{/finances}" sec:authorize="hasRole('PLANNER') || hasRole('ADMIN')">Finanzen</a>

                    <a th:class="${'item ' + 'border-right ' + cateringCurrent}"
                       th:href="@{/cateringProductCatalog}"
                       sec:authorize="hasRole('PLANNER') || hasRole('ADMIN') || hasRole('MANAGER')">Catering</a>



                    <a th:class="${'item ' + 'border-right ' + ticketsCurrent}"
                       th:href="@{/tickets}"
                       sec:authorize="hasRole('PLANNER')||hasRole('ADMIN')">Tickets</a>




                    <a th:class="${'item ' + 'border-right ' + ticketShopCurrent}"
                       th:href="@{/ticketShop}"
                       sec:authorize="hasRole('TICKET_SELLER')||hasRole('ADMIN')">Ticket Shop</a>












       


                    <!--
                    <a th:class="${'item ' + 'border-right ' + programCurrent}"
                       th:href="@{/schedule}"
                       sec:authorize="hasRole('PLANNER') || hasRole('ADMIN') || hasRole('MANAGER')">Programm</a>
                    -->


					<a th:class="${'item ' + 'border-right ' + mapCurrent}"
                       th:if="${festivalLocation!=null}"
                       th:href="@{/mapVisitorView/{id}(id=${festivalId})}">Karte</a>

                </div>
            </div>
        </div>
    </body>
</html>
