<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=${festival.name})}">
<head>
</head>
<body>
	<header>
		<nav th:include="header :: header"></nav>
		<h1>Festival Details</h1>
	</header>
	<section layout:fragment="content">
		 <div class="ui items">
                <div class="item">
                    <div class="content">
    		            <td th:text="${festival.name}">Keine gefunden</td>
    		            <br/>
						<td th:text="${festival.id}">Keine id gefunden</td>
						<br/>
 						<p th:if="${location==null}">noch keine ausgewählt</p>
 						<br/>
 						<p th:if="${location!=null}" th:text"${location.name}">hier sollte ihre Location stehen</p>
                    </div>
                </div>
            </div>
		<a class="item" href="finances.html" th:href="@{/financesPre1}">Finanzen</a>
    </section>
</body>
</html>