<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=Festival)}">
<head>
</head>
<body>
	<header>
		<nav th:include="header :: header"></nav>
		<h1>Festival Übersicht</h1>
	</header>
	<section layout:fragment="content">
		<a class="item" th:href="@{/newFestival}">Neues Festival erstellen</a>
		<table class="ui celled table">
		        <thead>
		        <tr>
		            <th>Festivals</th>
		        </tr>
		        </thead>
		        <tbody>
		        <tr th:each="festival : ${festivalList}">
		            <td th:text="${festival.name}">Keine gefunden</td>
		        </tr>
		        </tbody>
		</table>
    </section>
</body>
</html>
