<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=Finanzen)}">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
    <title>Finanzübersicht</title>
</head>

<body>
<div th:include="header :: header"></div>
<h1>Finanzübersicht</h1>

<section layout:fragment="content">

    <b>Erwartete Verkaufszahlen</b>
    <form action="/setTicketNumber">
        <label for="campingTickets">Camping-Tickets:</label><br>
        <input type="number" step="1" id="nCampingTickets" name="nCampingTickets" th:required="required">
        <br>
        <label for="oneDayTickets">Tagestickets:</label><br>
        <input type="number" step="1" id="nOneDayTickets" name="nOneDayTickets" th:required="required">
        <br>
        <input type ="submit" value="Auswählen"><br>
    </form>
    <br>

    <b>Ticketpreise</b>
    <form action="/setTicketPrice">
        <label for="campingTickets">Camping-Tickets:</label><br>
        <input type="number" step="0.01" id="priceCampingTickets" name="priceCampingTickets" th:required="required">
        <br>
        <label for="oneDayTickets">Tagestickets:</label><br>
        <input type="number" step="0.01" id="priceOneDayTickets" name="priceOneDayTickets" th:required="required">
        <br>
        <input type ="submit" value="Auswählen"><br>
    </form>
    <br>

    <b>Finanzdaten</b>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Größe</th>
            <th>Wert</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Voraussichtliche Kosten</td>
            <td th:text="${cost + '&euro;'}">0.00&euro;</td>
        </tr>
        <tr>
            <td>Voraussichtlicher Umsatz</td>
            <td th:text="${revenue + '&euro;'}">0.00&euro;</td>
        </tr>
        <tr>
            <td>Voraussichtlicher Gewinn</td>
            <td th:text="${profit + '&euro;'}">0.00&euro;</td>
        </tr>
        <tr>
            <td>Preis Camping-Tickets</td>
            <td th:text="${priceCampingTickets + '&euro;'}">0.00&euro;</td>
        </tr>
        <tr>
            <td>Preis Tagestickets</td>
            <td th:text="${priceOneDayTickets + '&euro;'}">0.00&euro;</td>
        </tr>
        <tr>
            <td>Erwartete Verkäufe Camping-Tickets   </td>
            <td th:text="${nCampingTickets}">0</td>
        </tr>
        <tr>
            <td>Erwartete Verkäufe Tagestickets   </td>
            <td th:text="${nOneDayTickets}">0</td>
        </tr>
        <tr>
            <td>Verkaufte Camping-Tickets</td>
            <td th:text="${soldCampingTickets}">0</td>
        </tr>
        <tr>
            <td>Verkaufte Tagestickets</td>
            <td th:text="${soldOneDayTickets}">0</td>
        </tr>
        </tbody>
    </table>

</section>

</body>
</html>