<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Header</title>
    </head>
    <body>
        <div th:fragment="header">
            <div class="header">
                <div class="menu">
                    <a class="item" >Finanzen FIV-GmbH</a>
                    <a class="item" href="festivalOverview.html" th:href="@{/festivalOverview}">Festivals</a>
                    <a class="item" href="locations.html" th:href="@{/locations}">Locations</a>
                    <a class="item" href="artists.html" th:href="@{/artists}">Artists</a>
                    <a class="item" href="ticketFrom.html" th:href="@{/tickets}">Tickets</a>
                    <a class="item" href="ticketShop.html" >Ticket Shop</a>


                </div>
                <div class="menu">
                    <span class="item border-left unselectable" sec:authorize="isAuthenticated()" sec:authentication="name"></span>
                    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                        <button type="submit" class="item border-left" th:text="#{header.logout}">Logout</button>
                    </form>

                    <a class="item border-left" th:href="@{/login}" sec:authorize="!isAuthenticated()" th:text="#{header.login}">Login</a>
                </div>
            </div>
        </div>
    </body>
</html>
