<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Header</title>
    </head>
    <body>
        <div th:fragment="header">
            <div class="header">
                <div class="menu">
                    <a class="item border-right" href=".">Action 1</a>
                    <a class="item border-right" href=".">Action 2</a>
                    <a class="item border-right" href=".">Action 3</a>
                    <a class="item" href="festival.html">Festival</a>
                </div>
                <div class="menu">
                    <span class="item border-left unselectable" sec:authorize="isAuthenticated()" sec:authentication="name"></span>
                    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                        <button type="submit" class="item border-left" th:text="#{header.logout}">Logout</button>
                    </form>

                    <a class="item border-left" th:href="@{/login}" sec:authorize="!isAuthenticated()" th:text="#{header.login}">Login</a>
                </div>
            </div>
        </div>
    </body>
</html>