<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=${location.name})}">
<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
	    <title>Location bearbeiten</title>
</head>
<body>
	<header>
		<nav th:include="header :: header"></nav>
	</header>
	<section layout:fragment="content">
		<div class="content">
			<form class="form" method="post" id="form" th:action="@{/saveLocation}" th:object="${newLocationForm}" enctype="multipart/form-data">
				<h2 class="form-title">Location bearbeiten</h2>
				<div class="form-item">
					<label class="form-label" for="name">Name:</label>
					<input class="form-input" id="name" name="name" th:field="*{name}" type="text">
				</div>
				<p class="form-item-error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name festlegen</p>
				<div class="form-item">
					<label class="form-label" for="adress">Adresse:</label>
					<input class="form-input" id="adress" name="adress" th:field="*{adress}" type="text" th:required="required">
				</div>
				<p class="form-item-error-message" th:if="${#fields.hasErrors('adress')}" th:errors="*{adress}">Adresse festlegen</p>				
				<div class="form-item" >
					<label class="form-label" for="pricePerDay">Preis pro Tag (€):</label>
					<input class="form-input" id="pricePerDay" type="number" step="0.01" name="pricePerDay" th:value="${pricePerDay}"    />
				</div>
				<p class="form-item-error-message" th:if="${#fields.hasErrors('pricePerDay')}" th:errors="*{pricePerDay}">Preis festlegen</p>
				<div class="form-item">
					<label class="form-label" for="visitorCapacity">maximale Besucheranzahl:</label>
					<input class="form-input"  id="visitorCapacity" type="number" step="1" name="visitorCapacity" th:field="*{visitorCapacity}" th:required="required" min="0"/>
				</div>
				<p class="form-item-error-message" th:if="${#fields.hasErrors('visitorCapacity')}" th:errors="*{visitorCapacity}">Besucherkapazität festlegen</p>
				<div class="form-item">
					<label class="form-label" for="stageCapacity">maximale Bühnenanzahl:</label>
					<input class="form-input"  id="stageCapacity" type="number" step="1" name="stageCapacity" th:field="*{stageCapacity}" th:required="required" min="0"/>
				</div>
				<p class="form-item-error-message" th:if="${#fields.hasErrors('stageCapacity')}" th:errors="*{stageCapacity}">Bühnenkapazität festlegen</p>
				<div class="form-item">
					<label class="form-label" for="image">Neues Bild:</label>
					<input class="form-input custom-file-input"  id="image" type="file" name="image" accept=".jpg"/>
				</div>
				<div class="form-item">
					<label class="form-label" for="groundView">Neuer Grundriss:</label>
					<input class="form-input custom-file-input"  id="groundView" type="file" name="groundView" accept=".jpg" />
				</div>
				<div class="form-item">
					<a href="locations.html" th:href="@{/locations}">Abbrechen</a>
					<input class="form-input" type="submit" value="Speichern">
				</div>
				<input type="hidden" name="location" th:value="${location.id}"/>
			</form>
        </div>
    </section>
</body>
</html>