<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=${location.name})}">
<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
	    <title>Locationdetails</title>
</head>
<body>
	<header>
		<nav th:include="header :: header"></nav>
	</header>
    </br>
  	<a class="item" href="locations.html" th:href="@{/locations}">Zurück</a>
  	</br></br>
	<div class="grid-container">
		<div class="grid-item">
			<p class="entity-attribute">Name:</p>
	        <p th:text="${location.name}">Keine gefunden</p>
	        <br/>
	        <p class="entity-attribute">Adresse:</p>
	        <p th:text="${location.adress}">Keine gefunden</p>
	        <br/>
			<p class="entity-attribute">Preis pro Tag:</p>
			<p th:text="${location.pricePerDay}">Keine gefunden</p>
			<br/>
			<p class="entity-attribute">maximale Besucheranzahl:</p>
			<p th:text="${location.visitorCapacity}">Keine gefunden</p>
			<br/>
			<p class="entity-attribute">maximale Bühnenanzahl:</p>
			<p th:text="${location.stageCapacity}">Keine gefunden</p>
			<br/>
			<p class="entity-attribute">Buchungen:</p>
			<p th:if="${hasBookings == false}">Keine</p>		
			<div th:if="${hasBookings == true}">
				<table  class="bookings-table">
	                <thead>
	                	<th>Startdatum</th>
	                	<th>Enddatum</th> 
	                </thead>
	                <tbody th:remove="all-but-first">   
	                	<tr th:each="booking : ${location.bookings}"> 
	                        <td class="text" th:text="${booking.startDate}">Startdatum</td>
	                        <td class="text" th:text="${booking.endDate}">Enddatum</td>
	                	</tr>
	                </tbody>
				</table>
			</div>
		</div>
		<div class="grid-item-right">
			<div>
	      		<img class="image" th:src="@{~/locationImages/{name} (name=${location.image})}"
	                         src="../static/resources/img/location/HSZ_image.jpg" />
	      	</div>   
		</div>


		<div class="item-groundView">
			</br>
			<p class="entity-attribute">Grundriss:</p>
			<div >
				<img class="groundView" th:src="@{~/locationImages/{name} (name=${location.groundView})}"
			                 src="../static/resources/img/location/HSZ_groundview.jpg" />
			</div>
		    </br>  
		</div>         
	</div>
</body>
</html>