<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=${location.name})}">
<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
	    <title>Locationdetails</title>
</head>
<body>
	<header>
		<nav th:include="header :: header"></nav>
		<h1>Locationdetails</h1>
		<nav th:include="festivalHeader :: festivalHeader"></nav>
	</header>

  	</br>
  	<a class="item" th:href="@{/locationOverview/{id}(id=${festival.id})}">Zurück</a>
  	</br> </br>
  	<form class="book-form" method="post" th:action="@{/locationOverview/{festivalId}/detail/{locationId}/bookLocation (locationId=${location.id}, festivalId = ${festival.id})}" th:object="${booking}">
		<input type="hidden" name="currentlyBooked" th:value="${currentlyBooked == true}"/>
		<input type="submit" th:if="${currentlyBooked == false}" value="Buchen">
		<input type="submit" th:if="${currentlyBooked == true}" value="Buchung zurücknehmen">
		<div class="ui-negative-message" th:text="${message}" th:if="${message ne null}"></div> 
	</form>
	</br>
	<div class="grid-container">
		<div class="grid-item">
			<p>Name:</p>
	        <p th:text="${location.name}">Keine gefunden</p>
	        <br/>
	        <p>Adresse:</p>
	        <p th:text="${location.adress}">Keine gefunden</p>
	        <br/>
			<p>Preis pro Tag:</p>
			<p th:text="${location.pricePerDay}">Keine gefunden</p>
			<br/>
			<p>maximale Besucheranzahl:</p>
			<p th:text="${location.visitorCapacity}">Keine gefunden</p>
			<br/>
			<p>maximale Bühnenanzahl:</p>
			<p th:text="${location.stageCapacity}">Keine gefunden</p>
			<br/>
			<p>Buchungen:</p>
			<p th:if="${hasBookings == false}">Keine</p>		
			<div th:if="${hasBookings == true}">
				<table>
	                <thead>
	                	<th>Startdatum</th>
	                	<th>Enddatum</th> 
	                </thead>
	                <tbody th:remove="all-but-first">   
	                	<tr th:each="booking : ${location.bookings}"> 
	                        <td class="text" th:text="${booking.startDate}">Startdatum</td>
	                        <td class="text" th:text="${booking.endDate}">Enddatum</td>
	                	</tr>
	                </tbody>
				</table>
			</div>
		</div>
		<div class="grid-item-right">
			<div>
	      		<img class="image" th:src="@{/resources/img/location/{name}.jpg(name=${location.image})}"
	                         src="../static/resources/img/location/HSZ_image.jpg" />
	      	</div>   
		</div>


		<div class="item-groundView">
		</br>
		<p>Grundriss:</p>
		<div >
			<img class="groundView" th:src="@{/resources/img/location/{name}.jpg(name=${location.groundView})}"
		                     src="../static/resources/img/location/HSZ_groundview.jpg" />
		</div>
	    </br>  
		</div>         
	</div>		
</body>
</html>