<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=${location.name})}">
<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
	    <title>Location bearbeiten</title>
</head>
<body>
	<header>
		<nav th:include="header :: header"></nav>
		<h1>Location bearbeiten</h1>
	</header>
	<section layout:fragment="content">
          <div class="content">
        	<form class="ui form" method="post" id="form" th:action="@{/saveLocation}" th:object="${location}">
		        <label for="name"><pre>Name:</pre></label>
		        <input id="name" name="name" th:field="*{name}" type="text" th:required="required"/><br>
		        <label for="adress"><pre>Adresse:</pre></label>
		        <input id="adress" name="adress" th:field="*{adress}" type="text" th:required="required"/><br>
		        <label for="pricePerDay"><pre>Preis pro Tag:</pre></label>
		    	<input id="pricePerDay" type="number" step="0.01" name="pricePerDay" th:value="${pricePerDay}" th:required="required" min="0.00"/> <i>€</i></br>
		        <label for="visitorCapacity"><pre>maximale Besucheranzahl:</pre></label>
		        <input id="visitorCapacity" type="number" step="1" name="visitorCapacity" th:field="*{visitorCapacity}" th:required="required" min="0"/><br>
		       	<label for="stageCapacity"><pre>maximale Bühnenanzahl:</pre></label>
		        <input id="stageCapacity" type="number" step="1" name="stageCapacity" th:field="*{stageCapacity}" th:required="required" min="0"/><br>
		        </br>
		        <input type="hidden" name="location" th:value="${location.id}"/>
				<Button type="submit" class="ui button">Speichern</Button>
			</form>
			</br></br></br></br></br></br></br></br></br></br></br></br>
			<a class="item" href="locations.html" th:href="@{/locations}">Zurück</a>
        </div>

    </section>
</body>
</html>