<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=Locations)}">
      
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
	<title>Location-Auswahl</title>
</head>
<body>
	<header>
		<nav th:include="header :: header"></nav>
		<h1>Locations</h1>
	</header>
	<section layout:fragment="content">
		<form method="post" name="location" role="location" class="ui form" id="location" th:object="${location}">
			<div class="ui link cards" th:remove="all-but-first">
	            <div class="ui card" th:each="location : ${locationList}">
	                <div class="content">
	                    <a class="header" th:href="@{/locations/{id}(id=${location.id})}" th:text="${location.name}">Etwas andres</a>
	                    <a th:href="@{/locations/remove/{id}(id = ${location.id})}">X</a>
	                </div>
	            </div>
	        </div>
		</form>
		<a class="item" th:href="@{/newLocation}" sec:authorize="hasRole('FESTIVAL_MANAGEMENT') || hasRole('ADMIN')">Neue Location erstellen</a>
		<div class="overlay" th:if="${dialog} == 'remove_location'">
            <form class="form" action="/locations/remove" method="post">
                Location löschen:<a th:text="${currentName}"></a> </br>
                <input type="hidden" name="id" th:value="${currentId}">
                <input type="submit" title="Löschen">
            </form>
        </div>
</body>
</html>
