<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=Locations)}">
      
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
	<title>Location-Auswahl</title>
</head>
<body>
	<header>
		<nav th:include="header :: header"></nav>
		<h1>Location-Auswahl</h1>
		<div th:include="festivalHeader :: festivalHeader"></div>
	</header>
	<section layout:fragment="content">
		
		<h3>Verfügbare Locations</h3>
		<form method="post" name="location" role="location" class="ui form" id="location" th:object="${location}">
	             <div class="content">
	                 <ul class="list">
                		<li class="list-entry" th:each="location : ${locationList}">
		                    <a th:if="${location.id == bookedLocationId}">O</a>
		                    <a class="header" th:href="@{/locationOverview/{id}(id=${location.id})}" th:text="${location.name}">Etwas andres</a>
	                    </li>
	                 </ul>
	              </div>
		</form>	
		</br></br>
		<p>O ... gebuchtes Festival</p>
		
			<a class="header" th:href="@{/locationOverview/unbook}" th:if="${bookedLocationId != 0}">Buchung löschen</a>

    </section>
</body>
</html>
