<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
        <title>Wilkommen</title>
    </head>
    <body>
        <div th:include="header :: header"></div>
        <div class="main">
            <a th:href="@{/messages/{userId}/send(userId = ${userId})}">Nachricht senden</a>
            <div>
                <ul>
                    <li th:each="message : ${messages}">
                        <h3 th:text="${message.title}"></h3>
                        <p th:text="${message.content}"></p>
                    </li>
                </ul>
            </div>
            <div class="overlay" th:if="${dialog} == 'send_message'">
                <form class="form" th:action="@{/messages/{userId}/send(userId = ${userId})}" method="post">
                    <select name="receiverId">
                        <option th:each="user : ${possible_receivers}" th:text="${user.name}" th:value="${user.id}"></option>
                    </select>
                    <input type="text" name="title">
                    <textarea name="content"></textarea>
                    <input type="hidden" name="senderId" th:value="${userId}">
                    <input type="submit" value="Entfernen">
                    <a th:href="@{/messages/{userId}(userId = ${userId})}">Abbrechen</a>
                </form>
            </div>
        </div>
    </body>
</html>
