<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=Artist)}">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
    <title>Neue Artist</title>
</head>
<body>
<header>
    <nav th:include="header :: header"></nav>
    <h1>Artist erstellen</h1>

</header>
<section layout:fragment="content">
    <h2>Artistdaten</h2>

    <form class="ui form" method="post" id="form" th:action="@{/newArtist}" th:object="${newArtistForm}" enctype="multipart/form-data" >
        <label for="name"><pre>Name:</pre></label>
        <input id="name" name="name" th:field="*{name}" th:errorclass="fieldError" type="text" required="required"/><br>
        <div class="ui negative message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
            <p>Der Name darf nicht leer sein.</p>
        </div>
        <label for="price"><pre>Preis:</pre></label>
        <input id="price" type="number" step="0.01" name="price" th:required="required" min="0.00" /><i>€</i><br>
        <input type="submit" value="Erstellen">
    </form>
    <a class="item" href="Artists.html" th:href="@{/artists}">Zurück</a>
</section>
</body>
</html>