<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=Festival)}">
<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
</head>
<body>
<header>
	<nav th:include="header :: header"></nav>
    <h1>Festival Erstellen</h1>
    
</header>
<section layout:fragment="content">
    <h2>Festivaldaten</h2>

    <form class="ui form" method="post" id="form" th:action="@{/newFestival}" th:object="${newFestivalForm}">
        <label for="name"><pre>Name:</pre></label>
        <input id="name" name="name" th:field="*{name}" type="text" required="required"/><br>
        <label for="startDate"><pre>Anfangsdatum:</pre></label>
        <input type="date" id="startDate" name="startDate"
                value="2022-01-01"
                min="2021-13-11" max="2023-01-01">
        <br>
        <label for="endDate"><pre>Enddatum:</pre></label>
        <input type="date" id="endDate" name="endDate"
               value="2022-01-01"
               min="2021-13-11" max="2023-01-01">
        <br>
        <br>
        <input type="submit" value="Erstellen">
    </form>
</section>
</body>
</html>