<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=Festival)}">
<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
        <title>Neues Festival</title>
</head>
<body>
<header>
	<nav th:include="header :: header"></nav>
</header>
<section layout:fragment="content">
    <h2>Festivaldaten</h2>

    <form class="form" method="post" id="form" th:action="@{/newFestival}" th:object="${newFestivalForm}">
        <h2 class="form-title">Festival erstellen</h2>
        <div class="form-item">
            <label class="form-label" for="name">Name:</label>
            <input class="form-input" id="name" name="name" type="text" required="required"/>
        </div>
        <p class="form-item-error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name festlegen</p>
        <div class="form-item">
            <label class="form-label" for="startDate"><pre>Anfangsdatum:</pre></label>

            <input class="form-input" type="date" id="startDate" name="startDate"
                   th:value="${dateNow}"
                   th:min="${dateNow}" max="2023-01-01">
        </div>
        <p class="form-item-error-message" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">EndDatum vor StartDatum.</p>
        <div class="form-item">
            <label class="form-label" for="endDate"><pre>Enddatum:</pre></label>
            <input class="form-input" type="date" id="endDate" name="endDate"
                   th:value="${dateNow}"
                   th:min="${dateNow}" max="2023-01-01" >
        </div>
        <p class="form-item-error-message" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">EndDatum vor StartDatum.</p>
        <div class="form-item">
            <a href="festivalOverview.html" th:href="@{/festivalOverview}">Abbrechen</a>
            <input class="form-input" type="submit" value="Erstellen">
        </div>
    </form>
</section>
</body>
</html>