<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=NewFestival)}">
<head>
</head>
	<body>
		<header>
			<nav th:include="header :: header"></nav>
			<h1>Neues Festival erstellen</h1>
		</header>

        <section layout:fragment="content">
            <form method="post" role="form" class="ui form" id="form" th:action="@{/newFestival}" th:object="${newFestivalForm}">

                <h3 class="ui dividing header">FestivalDaten</h3>
                
                <div class="field">
                    <label for="name">Name</label>
                    <input id="name" name="name" th:field="*{name}" type="text" required="required"/><br/>
                    
                </div>

                <button type="submit" class="ui button">Erstellen</button>
            </form>
        </section>
    </body>
</html>
