<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=Location)}">
<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
        <title>Neue Location</title>
</head>
<body>
<header>
	<nav th:include="header :: header"></nav>
    <h1>Location erstellen</h1>
    
</header>
<section layout:fragment="content">
    <form class="form" method="post" id="form" th:action="@{/newLocation}" th:object="${newLocationForm}" enctype="multipart/form-data" >
        <h2 class="form-title">Locationdaten</h2>
        <div class="form-item">
            <label for="name">Name:</label>
            <input id="name" name="name" th:field="*{name}" th:errorclass="fieldError" type="text" required="required">
        </div>
        <div class="form-item" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
            <p>Der Name darf nicht leer sein.</p>
        </div>
        <div class="form-item">
            <label for="adress">Adresse:</label>
            <input id="adress" name="adress" th:field="*{adress}" type="text" required="required">
        </div>
        <div class="form-item">
            <label for="pricePerDay">Preis pro Tag (€):</label>
            <input id="pricePerDay" type="number" step="0.01" name="pricePerDay" th:required="required" min="0.00">
        </div>
        <div class="form-item">
            <label for="visitorCapacity">maximale Besucheranzahl:</label>
            <input id="visitorCapacity" type="number" name="visitorCapacity" step="1" required="required" min="0">
        </div>
        <div class="form-item">
            <label for="stageCapacity">maximale Bühnenanzahl:</label>
            <input id="stageCapacity" type="number" name="stageCapacity" step="1" required="required" min="0">
        </div>
        <div class="form-item">
            <label for="image">Bild:</label>
            <input id="image" type="file" name="image" class="custom-file-input" accept=".jpg">
        </div>
        <div class="form-item">
            <label for="groundView">Grundriss:</label>
            <input id="groundView" type="file" name="groundView" class="custom-file-input" accept=".jpg">
        </div>
        <div class="form-item">
            <a th:href="@{/locations}">Abbrechen</a>
            <input type="submit" value="Erstellen">
        </div>
    </form>
</section>
</body>
</html>