<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=Spielplan)}">
      
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
	<title>Spielplan</title>
</head>
<body>
	<header>
		<nav th:include="header :: header"></nav>
		<div th:include="festivalHeader :: festivalHeader"></div>
	</header>
	<section layout:fragment="content">
	 <div class="schedule-list" >
        <div class="schedules-day" th:each="day : ${dayList}">
       		<div class="text" th:text="${day}">Tag 1</div>
	        <table class="ui celled table" >
	            <thead >
	            	<th> Bühnenname</th>
	            	<th> 10:00 - 12:00</th> 
	            	<th> 13:00 - 15:00</th>
	            	<th> 16:00 - 18:00</th>
	            	<th> 19:00 - 21:00</th>
	            	<th> 22:00 - 24:00</th>
	            </thead>
	            <tbody th:remove="all-but-first" th:each="stage : ${stageList}">   
	            	<tr>
	            		<td> <div class="text" th:text="${stage.name}"/></td> 
	                    <td th:each="timeSlot : ${timeSlotList}">
	                    	<div th:text="${festival.getScheduleShowName(timeSlot, stage, day)}"> </div>
	                    </td>
	            	</tr>
	           </tbody>
	            
			</table>
			</br>
        </div>
    </div>
		
    </section>
</body>
</html>
