<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=Locations)}">
      
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
	<title>Programm</title>
</head>
<body>
	<header>
		<nav th:include="header :: header"></nav>
		<h1>Programm</h1>
		<div th:include="festivalHeader :: festivalHeader"></div>
	</header>
	<section layout:fragment="content">
	 <div class="comment" >
            <div class="content">
           		<div class="text" th:text="${day}">Tag 1</div>
		        <table class="ui celled table" >
		            <thead >
		            	<th> Stage</th>
		            	<th> TimeSlot1</th> 
		            	<th> TimeSlot2</th>
		            	<th> TimeSlot3</th>
		            	<th> TimeSlot4</th>
		            	<th> TimeSlot5</th>
		            </thead>
		            <tbody th:remove="all-but-first">   
		            	<tr >
		            		<td>StageNumber</td> 
		                    <td class="text" >Show1</td>
		                    <td class="text">Show2</td>
		            	</tr>
		            </tbody>
				</table>
            </div>
        </div>
		
		
    </section>
</body>
</html>
