<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=Spielplan)}">
      
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
	<title>Spielplan</title>
</head>
<body>
	<header>
		<nav th:include="header :: header"></nav>
		<div th:include="festivalHeader :: festivalHeader"></div>
	</header>
	</br>
    <div th:each="day : ${dayList}">
   		<div class="day" th:text="${#temporals.format(day, 'dd.MM.yyyy')}">Tag 1</div>
        <table class="program-table" >
            <thead >
            	<th> Bühnenname</th>
            	<th> 10:00 - 12:00</th> 
            	<th> 13:00 - 15:00</th>
            	<th> 16:00 - 18:00</th>
            	<th> 19:00 - 21:00</th>
            	<th> 22:00 - 24:00</th>
            </thead>
            <tbody th:remove="all-but-first" th:each="stage : ${festival.stages}">   
            	<tr>
            		<td > <div class="text" th:text="${stage.name}"/></td> 
                    <td th:each="timeSlot : ${timeSlotList}">
                    	<div th:text="${festival.getScheduleShowName(timeSlot, stage, day)}">Keine</div>
                    	<div>Sicherheitspersonal: [[${festival.getScheduleSecurityName(timeSlot, stage, day)}]]</div>
                    	<a sec:authorize="hasRole('MANAGER') || hasRole('ADMIN') || hasRole('PLANNER')" th:href="@{/schedule/{day}/{stageId}/{timeSlot} (day = ${day}, stageId = ${stage.id}, timeSlot = ${timeSlot})}">Setzen</a>
                    </td>
            	</tr>
           </tbody>
            
		</table>
		</br>
    </div>

  	<div class="overlay" th:if="${dialog} == 'edit schedule'">
        <form class="form" th:action="@{/schedule/{day}/{stageId}/{timeSlot}/editSchedule (day = ${day}, stageId = ${stageId}, timeSlot = ${timeSlot})}" method="post">
            <h2 class="form-title">Belegung bearbeiten:</h2>
            <div class="form-item">
            	 <label class="form-label">Show: </label>
	            <select class="form-input" name="show" id="show" >
	                <option th:each="show : ${showsToAdd}" th:value="${show.id}" th:text="${show.name}">Show</option>
	                <option th:value="0">Keine</option>
	            </select>
            </div>
            <div class="form-item">
            	 <label class="form-label">Security: </label>
	            <select class="form-input" name="person" id="person" >
	                <option th:each="security : ${securitysToAdd}" th:value="${security.id}" th:text="${security.name}">Person</option>
	                <option th:value="0">Keine</option>
	            </select>
            </div>
            <div class="form-item">
            	<a th:href="@{/schedule}">Abbrechen</a>
            	<input class="form-input" type="submit" value="Wählen">
            </div>
        </form>
    </div>
</body>
</html>
