<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/staff.css}" />
        <title th:text="${title}"></title>
    </head>
    <body>
        <div th:include="header :: header"></div>
        <div th:include="festivalHeader :: festivalHeader"></div>
        <div class="staff-menu">
            <a th:href="@{/staff/{id}/create/(id=${festival.id})}"><h2>Personal hinzufügen</h2></a>
            <div th:text="${infoMessage}"></div>
        </div>

        <div class="staff-main">
            <div class="staff-list">
                <div class="staff-list-entry" th:each="entry, it : ${entries}">
                    <a th:href="@{/staff/{festivalId}/detail/{id}(id = ${entry.id}, festivalId = ${festival.id})}" th:text="${entry.name}"></a>
                    <a th:href="@{/staff/{festivalId}/remove/{id}(id = ${entry.id}, festivalId = ${festival.id})}" style="text-decoration: none">X</a>
                </div>
            </div>
            <div class="staff-detail" th:if="${person != null}">
                <div>Benutzername: <a th:text="${person.name}"></a></div>
                <div>Rolle: <a th:text="${person.role}" th:href="@{/staff/{festivalId}/change_role/{id}(id = ${person.id}, festivalId = ${festival.id})}"></a></div>
                <div>Stundenlohn: <a th:text="${person.salary}"></a></div>
                <a th:href="@{/staff/{festivalId}/change_password/{id}(id = ${person.id}, festivalId = ${festival.id})}">Passwort ändern</a>
            </div>
            <div class="staff-detail-placeholder" th:if="${person == null}"></div>
        </div>

        <div class="overlay" th:if="${dialog} == 'create_staff'">
            <form class="form" th:action="@{/staff/{festivalId}/create(festivalId = ${festival.id})}" method="post">
                <h2 class="form-title">Neuen Benutzer erstellen:</h2>
                <div class="form-item">
                    <label class="form-label">Benutzername: </label>
                    <input class="form-input" type="text" name="name">
                </div>
                <div class="form-item">
                    <label class="form-label">Rolle: </label>
                    <select class="form-input" name="role">
                        <option value="ADMIN" sec:authorize="hasRole('ADMIN')">Admin</option>
                        <option value="MANAGER">Manager</option>
                        <option value="PLANNER">Planer</option>
                        <option value="FESTIVAL_LEADER">Festival-Leiter</option>
                        <option value="TICKET_SELLER">Ticket Verkäufer</option>
                        <option value="ADMISSION">Einlass</option>
                        <option value="SECURITY">Security</option>
                        <option value="CATERING">Catering</option>
                    </select>
                </div>
                <div class="form-item">
                    <label class="form-label">Passwort: </label>
                    <input class="form-input" type="password" name="password">
                </div>
                <div class="form-item">
                    <label class="form-label">Lohn (€/h): </label>
                    <input class="form-input" type="number" step="0.01" name="salary" value="10" min="0">
                </div>
                <div class="form-item" th:if="${error != ''}">
                    <p th:text="${error}"></p>
                </div>
                <div class="form-item">
                    <a th:href="@{/staff/{festivalId}(festivalId = ${festival.id})}">Abbrechen</a>
                    <input class="form-input" type="submit" value="Hinzufügen">
                </div>
            </form>
        </div>

        <div class="overlay" th:if="${dialog} == 'remove_staff'">
            <form class="form" th:action="@{/staff/{festivalId}/remove(festivalId = ${festival.id})}" method="post">
                <h2 class="form-title">Wollen sie den Nutzer <a th:text="${person.name}"></a> wirklich entfernen?</h2>
                <div class="form-item">
                    <a th:href="@{/staff/{festivalId}/detail/{userId}(festivalId = ${festival.id}, userId = ${person.id})}">Abbrechen</a>
                    <input type="submit" value="Entfernen">
                </div>
                <input type="hidden" name="id" th:value="${person.id}">
            </form>
        </div>

        <div class="overlay" th:if="${dialog} == 'change_role'">
            <form class="form" th:action="@{/staff/{festivalId}/change_role/{id}(festivalId = ${festival.id}, id = ${person.id})}" method="post">
                <h2 class="form-title" th:inline="text">Rolle von Nutzer [[${person.name}]] ändern</h2>
                <div class="form-item">
                    <label class="form-label">Neue Rolle: </label>
                    <select class="form-input" name="role" id="role">
                        <option value="ADMIN" sec:authorize="hasRole('ADMIN')">Admin</option>
                        <option value="MANAGER">Manager</option>
                        <option value="PLANNER">Planer</option>
                        <option value="FESTIVAL_LEADER">Festival-Leiter</option>
                        <option value="TICKET_SELLER">Ticket Verkäufer</option>
                        <option value="ADMISSION">Einlass</option>
                        <option value="SECURITY">Security</option>
                        <option value="CATERING">Catering</option>
                    </select>
                </div>
                <div class="form-item">
                    <a th:href="@{/staff/{festivalId}/detail/{id}(festivalId = ${festival.id}, id = ${person.id})}">Abbrechen</a>
                    <input class="form-input" type="submit" value="Bestätigen">
                </div>
                <input type="hidden" name="id" th:value="${person.id}">
            </form>
        </div>

        <div class="overlay" th:if="${dialog} == 'change_password'">
            <form class="form" th:action="@{/staff/{festivalId}/change_password/{id}(festivalId = ${festival.id}, id = ${person.id})}" method="post">
                <h2 class="form-title" th:inline="text">Passwort von Nutzer [[${person.name}]] ändern</h2>
                <div class="form-item">
                    <label class="form-label">Neues Passwort:</label>
                    <input type="password" name="password">
                </div>
                <div class="form-item">
                    <a th:href="@{/staff/{festivalId}/detail/{id}(festivalId = ${festival.id}, id = ${person.id})}">Abbrechen</a>
                    <input class="form-input" type="submit" value="Passwort ändern">
                </div>
                <input type="hidden" name="id" th:value="${person.id}">
            </form>
        </div>
    </body>
</html>
