<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=Ticketshop)}">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
    <title>Ticketshop</title>
</head>
<body>
<header>
    <nav th:include="header :: header"></nav>
    <nav th:include="festivalHeader :: festivalHeader"></nav>
</header>
<section layout:fragment="content">
</section>


<div style="text-align: center">


<form class="item" th:action="@{/tickets/{id}/buy(id=${festivalId})}" method="post" th:object="${tickets}">

    <h4 th:text="${tickets.getFestivalName()}"></h4><br>

    <select name="ticketType" id="type" th:field="*{ticketType}">
        <option th:each="ticketType : ${T(festivalmanager.ticketShop.TicketType).values()}"
                th:value="${ticketType}" th:text="${ticketType.displayValue}"></option>

    </select><br><br>
        <label >Tickets anzahl:</label><br>
        <input th:if="${tickets.getTicketType()=='CAMPING'}" type="number" id="count1" th:field="*{campingTicketsCount}"  min="1" required  placeholder="0"><br><br>
        <input th:unless="${tickets.getTicketType()=='CAMPING'}" type="number"  id ="count2"th:field="*{dayTicketsCount}" min="1" required placeholder="0"> <br><br>


    <input type="submit" value="kaufen">
</form>

</div>
</body>
</html>
