<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=Tickets)}">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
    <title>Tickets</title>
</head>
<body>
<header>
    <nav th:include="header :: header"></nav>
    <nav th:include="festivalHeader :: festivalHeader"></nav>
</header>
<section layout:fragment="content">
    <div style="text-align: center">
        <form class="item"  th:action="@{/tickets}" method="post" th:object="${ticket}">
            <h4 style="color: black" th:text="${festival.name}"> Festival</h4><br><br>
            <h5>Anzahl der Tickets</h5><br>
            <label for="count1">Camping-Tickets:</label><br>
            <input type="number" id="count1" min="0" th:field="*{campingTicketsCount}"><br><br>

            <label for="count">Tagestickets:</label><br>
            <input type="number" id="count" min="0" th:field="*{dayTicketsCount}"><br><br>


            <h5>Ticketpreise</h5><br>
            <label for="price1">Camping-Tickets:</label><br>
            <input type="number" id="price1" min="0" th:field="*{campingTicketPrice}"><br><br>

            <label for="price">Tagestickets</label><br>
            <input type="number" id="price" min="0" th:field="*{dayTicketPrice}"><br><br>

            <br><br>

            <input type="submit" value="Auswählen">
        </form>
    </div>
</section>
</body>
</html>
