<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=ticketPrint)}">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/ticket.css}"/>

</head>
<body>
<header>
    <nav th:include="header :: header"></nav>
    <nav th:include="festivalHeader :: festivalHeader"></nav>
</header>

</section>




<div class="box">
    <div class='inner'>

        <div class='info clearfix'>

            <div class="wp">Festivalname:<h3 th:text="${festival}"></h3></div>
            <div class='wp'>Type<h2 th:text="${tickets.getTicketType().displayValue}" ></h2></div>

        </div>
        <div class='total clearfix'>

            <h2>Tickets <p th:text="${ticketCount}"> </p></h2>
            <h2>Total : <p th:text="${'€ '+ticketPrice}"></p></h2>

        </div>

    </div>
</div>



</body>
</html>
