<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=Ticketshop)}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--                &lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        &lt;!&ndash; jQuery library &ndash;&gt;
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        &lt;!&ndash; Latest compiled JavaScript &ndash;&gt;
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/ticket.css}"/>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"
            integrity="sha512-cLuyDTDg9CSseBSFWNd4wkEaZ0TBEpclX0zD3D6HjI19pO39M58AgJ1SjHp6c7ZOp0/OCRcC2BCvvySU9KJaGw=="
            crossorigin="anonymous"></script>
    <script src="http://html2canvas.hertzen.com/dist/html2canvas.js"></script>


    <title>Ticketshop</title>
</head>
<body>
<header>
    <nav th:include="header :: header"></nav>
    <nav th:include="festivalHeader :: festivalHeader"></nav>
</header>
<section layout:fragment="content">
</section>







    <div class="box" id="ticket">
        <div class='inner'>

            <div class='info clearfix'>
                <div class="wp">Festivalname:<h4 th:text="${festival}"></h4></div>
                <div class='wp'>Typ:<h4 th:text="${tickets.getTicketType().displayValue}"></h4></div>
            </div>
            <div class='total clearfix'>
                <h2>Tickets: <p th:text="${ticketCount}"></p></h2>
                <h2>Preis: <p th:text="${ticketPrice + '€'}"></p></h2>
            </div>
        </div>

    </div>

    <div class="center">

        <form id="from" th:action="@{/export}" method="post">





            <input  type="text" id="base64" th:name="base64"/>





            <button type="submit" class="btn btn-default btn-sm"  onclick="printPDF()">
                <span class="glyphicon glyphicon-print"></span> ausdrucken
            </button>

        </form>

    </div>







<script th:inline="javascript">


    function printPDF() {
        // HTML +CSS -> PNG
        html2canvas(document.getElementById('ticket'), {width: 420}).then(function (canvas) {


            var doc = new jsPDF('p', 'pt', 'a4');
            var img = canvas.toDataURL("image/png");
            // PNG -> PDF
            doc.addImage(img, 'PNG', 50, 70, 390, 140);

            //convert pdf to string
            var out = doc.output();

            //convert the string to base64
           // doc.save('ticket.pdf');

            const base = btoa(out);






        });
        return  base;
    }

</script>


<script th:inline="javascript">

    /*<![CDATA[*/

    var x = /*[[${base64}]]*/ "Testing";

    alert(x)
    /*]]>*/

</script>



</body>
</html>
